@import 'tailwindcss';

@theme {
  --font-display: 'JetBrains Mono', 'monospace';
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  @apply outline-0 shadow-md shadow-blue-500/50;
}

a,
button {
  @apply font-medium underline;
}
button {
  @apply cursor-pointer;
}
a:hover,
button:hover {
  @apply no-underline;
}

h1 {
  @apply font-bold uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold uppercase;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5,
h6 {
  @apply text-base;
}

ol,
ul {
  @apply list-inside list-disc;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a,
  button {
    @apply text-blue-500;
  }
  a:hover,
  button:hover {
    @apply text-blue-600;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #d9e2ec;
    background-color: #1a202c;
  }
  a:hover,
  button:hover {
    color: #f6e05e;
  }
}

@media print {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
